section.degree{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(201, 201, 201);
    background-color: rgb(43, 43, 43);
}
section.degree h1{
    margin: 80px 0 0 0;
    font-size: 4rem;
    color: rgb(201, 201, 201);
}
section.degree ul{
    margin: 30px 0;
    min-height: 70vh;
    list-style-type: none;
}
section.degree ul li:nth-child(2){
    margin: 10vh 0;
}
section.degree ul li{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 15vh;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    transform-origin: left;
    transition: all 0.2s ease-in-out;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
}
section.degree ul li:hover{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}
section.degree ul li:hover::before{
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}
section.degree ul li::before{
    position: absolute;
    top: 35px;
    left: -50px;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
section.degree ul li:nth-child(-n+2)::after{
    position: absolute;
    top: 35px;
    left: -46px;
    content: '';
    width: 2px;
    height: 175%;
    background-color: white;
}
section.degree ul li article p.calendar{
    display: flex;
    align-items: center;
}

/* 
    Responsive
*/
@media screen and (max-width: 768px) {
    section.degree h1 {
        font-size: 3rem;
        top: 50px;
    }

    section.degree ul {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    section.degree ul li {
        height: auto;
        margin: 10px 0;
        width: 90%;
    }
    section.degree ul li::before{
        display: none;
    }
    section.degree ul li:nth-child(-n+2)::after {
        display: none;
    }

    section.degree ul li article p.calendar {
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width: 376px) {
    section.degree h1 {
        font-size: 2.2rem;
    }
}